{% extends 'components/base.html' %}

{% block title %} สมาชิกรายเดือน {% endblock %}
{% load static %}
{% block content %}

<div class="flex-grow">
  


    <div class="flex justify-center items-center mt-10 w-full">
        <div class="bg-blue-200 w-[24rem] rounded-lg shadow-md p-6">
          <div class="flex items-center mb-4">
            
            <div class="">
              <a >{{members.first_name}}</a>
              <h2 class="text-center text-xl font-bold">สมัครรายเดือน</h2>
              <p class="font-medium  text-center">ราคาเดือนละ 500 บาท</p> 
              <hr class="h-px my-5 bg-gray-900 border-0">
              <p class="font-semibold">สิทธิที่จะได้รับ</p>
              <p>-บริการส่งผ้ารัศมี 1 กิโลเมตรจากร้าน</p>
              <p>-ส่งผ้าได้ทั้งหมดวันละไม่เกิน 4 ตัว ต่อ 1 วัน</p>
              <p>-รับ-ส่งผ้าทุก วันอังคาร เเละ วันพฤหัสบดี</p>
                        
              <hr class="h-px my-5 bg-gray-900 border-0">
              <p class="font-semibold">หมายเหตุ:<a class="font-normal"> หากอยู่นอกรัศมีให้นำผ้ามาส่งตามปกติ</a></p>
                 
            </div>
            
          </div>
          
          <form action="{% url 'membership' %}" method="post">
            {% csrf_token %}
            <button type="submit"  class="w-full py-2 rounded-md bg-blue-500 text-white">สมัครรายเดือน</button>
        </form>
        
        
        
        </div>
      </div>
    
      
</div>
{% endblock %}